[submodule "letters-backend"]
	path = letters-backend
	url = git@github.com:ayakuma309/letters-planet-backend.git
[submodule "letters-frontend"]
	path = letters-frontend
	url = git@github.com:ayakuma309/letters_planet_frontend.git
